<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>重設密碼</title>
</head>
<body>
    <h1>重設密碼</h1>
    
     <ul th:if="${errors != null}" style='color: rgb(255, 0, 0);'>
         <li th:each="error : ${errors}" th:text="${error}">error message</li>
     </ul> 
            
    <form method='post' action='reset_password'>
        <input type='hidden' name='name' th:value='${acct.name}'>
        <input type='hidden' name='email' th:value='${acct.email}'>
        <input type='hidden' name='token' th:value='${session.token}'>
        <table>
            <tr>
                <td>密碼（8 到 16 字元）：</td>
                <td><input type='password' name='password' size='25' maxlength='16'></td>
            </tr>
            <tr>
                <td>確認密碼：</td>
                <td><input type='password' name='password2' size='25' maxlength='16'></td>
            </tr>
            <tr>
                <td colspan='2' align='center'><input type='submit' value='確定'></td>
            </tr>
        </table>
    </form>
</body>
</html>